extends layout

block content
  main.content
    block user-info
    .content__columns
      .content__column.column-1
      .content__column.column-2
      .content__column.column-3
    img.content__loader.hidden(src="/images/site-images/Rolling-1.3s-100px.gif")
    block scripts
