doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/style.css")
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    title Gallery
  body
    header.header
      if(user) 
        a.header__link(href="logout") Выход
      else
        a.header__link(href="/register") Регистрация
        a.header__link(href="/login") Вход
    block content

