@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}


html, body {
  min-height: 100%;
  background-color: #1b252f;
  font-family: 'Roboto', sans-serif;
}

a, button {
  transition: .3s;
}

a:hover, button:hover {
  color: rgb(187, 187, 187);
}

@media screen and (max-width: 720px) {
  body {
    grid-template:  'header' min-content
                    'main' 1fr
                    / 1fr;
  }

  .header {
    margin-bottom: 50px;
  }

  .header, .header__first-two-buttons, .header__second-two-buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .header__button {
    margin: 10px 0;
  }

  .content__columns {
    flex-flow: column nowrap;
    position: relative;
  }

  .content__column {
    max-width: 100%;
    flex-flow: column nowrap;
    align-items: center;
  }

  .full-img-layout__arrow-left, .full-img-layout__arrow-right {
    height: 50px;
  }

  .full-img-layout__arrow-right {
    right: 10px;
  }

  .full-img-layout__arrow-left {
    left: 10px;
  }
  
  .sign-in-container {
    font-size: 12px;
  }

  .sign-up-inner-container__form, .sign-in-inner-container__form {
    padding: 0 10px;
  }

  .modal-button {
    padding: 10px 5px;
    font-size: 10px;
  }
  
  .overlay-panel__overlay-right {
    align-items: center;
  }

  
}


@media screen and (min-width: 720px) {
  body {
    position: relative;
    margin: 0;
    display: grid;
    grid-template:  'header' min-content
                    'main' 1fr
                    / 1fr;
  }

  .header {
    padding: 0 2rem;
    margin: 20px 0;
    grid-area: header;
    display: grid;
    grid-template: 'buttons12 search buttons34' 1fr
                    /max-content 1fr max-content;
  }
  
  .header__first-two-buttons {
    grid-area: buttons12;
    justify-content: start;
  }
  
  .header__second-two-buttons {
    grid-area: buttons34;
    justify-content: end;
  }
  
  .header__first-two-buttons, .header__second-two-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .header__button {
    margin: 10px;
  }

  .content__columns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  
  .content__column {
    width: 32%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 5px;
  }


  .full-img-layout__arrow-left, .full-img-layout__arrow-right {
    height: 100px;
  }

  .sign-up-inner-container__form, .sign-in-inner-container__form {
    padding: 0 50px;
    align-items: center;
  }

  .modal-button {
    padding: 12px 45px;
    font-size: 12px;
    margin: 0 10px;
  }
  
  .overlay-panel__overlay-right, .overlay-panel__overlay-left {
    align-items: center;
    padding: 0 40px;
  }

  .full-img-layout__arrow-right, .full-img-layout__arrow-left  {
    height: 80px;
    width: 80px;  
  }

  .full-img-layout__arrow-right {
    right: 40px;
  }
  
  .full-img-layout__arrow-left {
    left: 40px;
  }
  
}



/* СТИЛИ КНОПОК */

.header__button {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
	text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  border: 0px;
}


.modal-button {
	border-radius: 20px;
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.modal-button:focus {
	outline: none;
}

.modal-button_active {
  background-color: #1b252f;
}

.modal-button_active:active {
	transform: scale(0.95);
}

.modal-button__inactive {
  color: gray;
}


.header__button:hover, .modal-button_active:hover {
  cursor: pointer;
}

/* СТИЛИ МОДАЛКИ РЕГИСТРАЦИИ И АВТОРИЗАЦИИ */

.sign-up-inner-container__form, .sign-in-inner-container__form {
	background-color: #FFFFFF;
	display: flex;
  justify-content: center;
	flex-direction: column;
	height: 100%;
	text-align: center;
}

.sign-in-container__input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.sign-in-container, .upload-image-form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
  display: block;
	background-color: #fff;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.sign-up-inner-container, .sign-in-inner-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-inner-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.sign-in-container.right-panel-active .sign-in-inner-container {
	transform: translateX(100%);
}

.sign-up-inner-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.sign-in-container.right-panel-active .sign-up-inner-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.sign-in-container__overlay {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.sign-in-container.right-panel-active .sign-in-container__overlay {
	transform: translateX(-100%);
}

.overlay {
	background: #1b252f; 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.sign-in-container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel__overlay-right, .overlay-panel__overlay-left {
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel__overlay-left {
	transform: translateX(-20%);
}

.sign-in-container.right-panel-active .overlay-panel__overlay-left {
	transform: translateX(0);
}

.overlay-panel__overlay-right {
	right: 0;
	transform: translateX(0);
}

.sign-in-container.right-panel-active .overlay-panel__overlay-right {
	transform: translateX(20%);
}

.error-message, .success, .modal-loader {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.modal-loader {
  bottom: 5%;
  height: 60px;
}

.error-message {
  color: #D8000C;
}

.success {
  color: rgb(42, 192, 42);
}

.error-field {
  background-color: #FFD2D2;
} 

.modal-layout, .full-img-layout  {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}


.header__sign-in-open-button {
  margin: 0 2%;
}



/* СТИЛИ МОДАЛКИ ЗАГРУЗКИ КАРТИНКИ */

.upload-image-form {
  background-color: #1b252f;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.upload-image-form__input-img-label{
  text-align: center;
  color:white;
  padding:0;
  line-height:40px;
  width:300px;
  display:block;
  border:2px solid white;
}

.upload-image-form__input-img{
  width:.1px;
  height:.1px;
  opacity:0;
  overflow:hidden;
  position:absolute;
  z-index:-1
}

.upload-image-form__input-img + .upload-image-form__input-img-label{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  padding:0 10px;
  cursor:pointer;
}

.upload-image-form__input-img + .upload-image-form__input-img-label .icon:before{
  content:"\f093"
}

.upload-image-form__input-img + .upload-image-form__input-img-label.has-file .icon:before{
  content:"\f00c";
  color:#5AAC7B
}

.images-for-upload {
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-height: 300px;
  width: 90%;
}

.image-for-upload {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid white;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-sizing: content-box;
  padding: 0.8rem;
  width: 90%;
}

.image-for-upload__filename {
  text-align: center;
  font-size: 1.2rem;
}

/*  */
.image-for-upload__input {
  text-align: center;
}

.form__group {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}


/*  */


/* main content - КОЛОНКИ */

/* Content */

.content {
  min-height: 300px;
  color: white;
  grid-area: main;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
}

.img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container_active:hover {
  cursor: pointer; 
}

.img-container__img_preload {
  width: 30%;
}

.img-container__img_loaded {
  width: 100%;
}

.img-container__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;

  opacity: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.4s;

  font-size: 20px;
  font-weight: bolder;
}

.img-container:hover .img-container__info{
  display: flex;
  opacity: 1;
}

.img-info__text, .img-info__link {
  color: white;
  z-index: 100000;
  word-break: break-all;
}

.img-info__link {
  text-decoration: none;
}


.full-img-layout__image, .full-img-layout__image-loader {
  display: block;
  max-height: 100%;
  max-width: 100%;
}


/* СТРЕЛОЧКИ У МОДАЛКИ ПОЛНОЙ КАРТИНКИ */

.full-img-layout__arrow-right, .full-img-layout__arrow-left {
  position: fixed;
}

.full-img-layout__arrow-right:hover, .full-img-layout__arrow-left:hover {
  cursor: pointer;
}



/* СОСТОЯНИЕ */

.hidden {
  display: none;
}


/* СТРАНИЦА АККАУНТА */
.account__login {
  text-align: center;
  font-size: 30px;
}


/* лоадер и енд текст*/

.content__loader, .content__end-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.content__loader {
  width: 60px;
  height: 60px;
}

.content__end-text {
  font-size: 20px;
}