.upload-image-content {
  background-color: rgb(204, 112, 112);
  /* height: 100%; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.upload-image-form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
  border: 1px solid black;
  background-color: rgb(228, 128, 128);
  padding: 2%;
  border-radius: 2%;
  /* display: flex; */
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  /* align-items: center; */
}

.upload-image-label{
  text-align: center;
  color:rgb(48, 44, 44);
  padding:0;
  line-height:40px;
  width:300px;
  margin:auto;
  display:block;
  border:2px solid rgb(0, 0, 0)
}
.upload-image-label:hover, .upload-image-label:focus{
  color:rgb(0, 0, 0);
  border-color:rgb(0, 0, 0);
}
.input-img{
  width:.1px;
  height:.1px;
  opacity:0;
  overflow:hidden;
  position:absolute;
  z-index:-1
}
.input-img + .upload-image-label{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  padding:0 10px;
  cursor:pointer;
}
.input-img + .upload-image-label .icon:before{
  content:"\f093"
}
.input-img + .upload-image-label.has-file .icon:before{
  content:"\f00c";
  color:#5AAC7B
}

.img-description {
  border: none;
  background-color: rgb(228, 128, 128);
  border-bottom: 1px solid black;
  margin: 10% 0;
  text-align: center;
}

.non-active {
  background-color: gray;
}

.is-upload-img-open {
  display: flex;
}